[Unit]
Description=u-blox initialisation
Before=gpsd.service
Before=ntp.service

[Service]
Type=oneshot
Environment="PARAMS=-q -b -B 115200 --configure_for_timing"
EnvironmentFile=-/etc/default/gpsctl
ExecStart=/usr/local/bin/gpsctl ${PARAMS}

[Install]
WantedBy=multi-user.target
